version: "2"

services:

  mysql:
    image: mysql
    networks:
      - appnet
    volumes:
      - ./services/mysql:/docker-entrypoint-initdb.d:ro
      - ./services/mysql/local:/var/lib/mysql:rw
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: linkdb
      MYSQL_USER: app
      MYSQL_PASSWORD: apppassword

  redis:
    image: redis
    networks:
      - appnet
    volumes:
      - ./services/redis/local:/data:rw

  app:
    build:
      context: ./
      dockerfile: ./services/app.Dockerfile
    depends_on:
      - mysql
      - redis
    networks:
      - appnet
    environment:
      NODE_ENV: production
      APP_PORT: 80
      REDIS_HOST: redis
      REDIS_PORT: 6379
      LINKS_GENERATE_METHOD: random
      LINKS_TTL: 15

  web:
    image: nginx
    depends_on:
      - app
    networks:
      - appnet
    ports:
      - 80:80
    volumes:
      - ./services/nginx:/etc/nginx/conf.d:ro
      - ./frontend/public:/var/public:ro

networks:
  appnet:
