extends layouts/main.pug

block append scripts
    script(src="/public/js/shortener.js", async)

block content
    .py-5.text-center
        h1 Make your link shorter!
        p.lead This is test task from Umbrella IT

    #app-shortener
        .row
            .col-md-4.order-md-2.mb-4
                h4.mb-3.text-muted Top links
                .mb-3
                    small.text-muted Loading...

            .col-md-8.order-md-1
                h4.mb-3 Create short link
                .mb-3
                    label Long url
                    input(type="text", disabled, placeholder="Please wait, form is loading...").form-control
                .mb-3
                    span Use personal name
                .mb-3
                    button(disabled).btn.btn-default Short it!
